blessings==1.7
cycler==0.10.0
inquirer==2.6.3
joblib==0.14.1
kiwisolver==1.2.0
matplotlib==3.2.1
numpy==1.18.2
pandas==1.0.3
pyparsing==2.4.7
python-dateutil==2.8.1
python-editor==1.0.4
pytz==2019.3
readchar==2.0.1
scikit-learn==0.22.2.post1
scipy==1.4.1
six==1.14.0
sklearn==0.0
threadpoolctl==2.0.0
tqdm==4.45.0
